/* ================ Секция Преимущесва ==================  */
/* ==== Flex-box Преимущества   =============*/
.adv-list {
  @media screen and(min-width: $mobile) {
    display: flex;
  }

  & > li {
    @media screen and(min-width: $mobile) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and(min-width: $desctop) {
      width: calc((100% - 90px) / 4);
    }
  }

  & > li:not(:last-child) {
    @media screen and (max-width: $mobile) {
      margin-bottom: 30px;
    }

    @media screen and(min-width: $desctop) {
      margin-right: 30px;
    }
  }
}

/* === Фон иконок в Преимуществах -Var#3 Inline-SVG  =======*/
.icon-advantage {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
}

/* =====  Margin внизу всей секции  ==========*/
.advantage {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & h2 {
    @extend %visually-hidden;
  }
}

/* ===== Margin иконок   =================*/
.advantage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* =====  Margin заголовков    ==============*/
.advant-title {
  margin-bottom: 10px;
}

/* ========Заголовки в Преимуществах и Чем занимаемся   ================*/
.advant-title,
.works-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

/* ======== Абзац в Преимуществах========== */
.advant-decr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @media screen and(min-width: $mobile) {
    height: 75px;
  }
}
