/* =============================== Секция Постоянные клиенты ==================================  */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: $tablet) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  /* === Заголовок Клиенты ============ */
  &-title {
    margin-bottom: 50px;
  }

  /* ======= Список компаний =========== */
  &-list {
    display: flex;
  }
}

/* ==== Ссылки на компании  ========== */
.clients a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  background: $main-bg-color;
  border: 1px solid $team-social-icons;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  fill: $team-social-icons;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// .clients-list > li:not(:last-child) {
//   @media screen and(min-width: $desctop) {
//     margin-right: 30px;
//   }
// }

.clients-list {
  flex-wrap: wrap;

  & > li:nth-child(2n + 1) {
    margin-right: 30px;
  }

  & > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  & > li:not(:last-child) {
    @media screen and(min-width: $desctop) {
      margin-right: 30px;
    }
  }
}

.clients a:hover,
.clients a:focus {
  border: 1px solid $color-acent;
}

.clients a:hover svg,
.clients a:focus svg {
  fill: $color-acent;
}
