/* =====================   Стили Хедера ========================= */
/* ==== Flex-box Header   ============= */
@media screen and (max-width: $mobile) {
  .header-nav,
  .nav-contacts.list {
    display: none;
  }
}

@media screen and(min-width: $mobile) {
  .header-flex {
    display: flex;
    align-items: baseline;
    padding-top: 6px;
  }
}

/* ================ Логотип ============ */
.logo-header {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: $secondary-text-color;
  text-decoration: none;
  margin-left: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;

  & span {
    font-family: Raleway, sans-serif;
    color: $color-acent;
  }

  @media screen and (min-width: $mobile) {
    display: block;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 86px;
  }
}

/* ==============  Навигация =========== */
@media screen and(min-width: $tablet) {
  .nav-list {
    display: flex;
    align-items: center;

    & > li:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: $secondary-text-color;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 28px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-acent;
  }

  &.current {
    color: $color-acent;
  }
}

/* ===== Декоратвная планка в навигации шапки ==== */

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-item::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: $color-acent;
  border-radius: 2px;
  opacity: 0;
}

.current-page::after {
  opacity: 1;
}

/* ========== Контакты в навигации ======== */
.nav-contacts {
  display: flex;
  margin-left: auto;

  & > li:not(:first-of-type) {
    margin-left: 30px;
  }
}

.nav-contacts a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  color: $main-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-acent;
  }
}

/* ===== Иконки перед контактами  Вариант через ::before/after в коде HW06 ====== */

/* ===== Иконки перед контактами  Вариант через inline-SVG  ====== */
.nav-contacts a {
  display: flex;
  padding-top: 22px;
  padding-bottom: 30px;
}

.icon {
  margin-right: 10px;
  fill: $main-text-color;
}

.nav-contacts li:hover .icon {
  fill: $color-acent;
}

// Іконка бургер-меню для мобільного

@media screen and (max-width: $mobile) {
  .headmobile-menu {
    position: absolute;
    display: inline-flex;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    border: none;
    background-color: transparent;
    padding: 0;
  }

  .icon-mibile-cross {
    display: none;
  }
}
@media screen and (min-width: $tablet) {
  .headmobile-menu {
    display: none;
  }
}

.headmobile-menu.is-open .icon-mibile-cross {
  display: block;
}

.headmobile-menu.is-open .icon-mibile-menu {
  display: none;
}
