/* ========= Заголовки Чем занимаемся, Наша команда, Клиенты ================== */
.works-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  text-align: center;
}
